<%= form_with model: [:question, @response], local: true do |f| %>

  <h4><%= @question.question_text %></h4>
  
  <%= f.radio_button :response_text, 'agree', checked: true  %>
  <%= f.label :response_text, "I agree", value: 'agree' %><br>
  
  <%= f.radio_button :response_text, 'disagree' %>
  <%= f.label :response, "I disagree", value: 'disagree' %><br>

  <%= f.submit 'Save' %>

<% end %>