<!DOCTYPE html>
<html>
  <head>
    <title>EasySurvey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row bg-warning px-3 py-2">
      <div class="col-md-3">
        <h4>
          <%= link_to 'easySurvey', root_path %>
        </h4>
      </div>
      <div class="col-md-9 text-right">
        <% if current_admin %>
          <%= current_admin.email %>
          <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign Up', new_admin_registration_path  %>
          <%= link_to 'Sign In', new_admin_session_path %>
        <% end %>
      </div>  
    </div>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
